* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8AB170;
  color: #342716;
  box-sizing: border-box;
  padding: 0;
}

h1 {
  font-size: 20px;
  line-height: 1.2;
}
h2 {
  font-size: 18px;
  line-height: 1;
}

#intro-img {
  max-width: 315px;
  width: 100%;
  max-height: 360px;
  height: 50%;
  border-radius: 50px;
}

.question-asset {
  max-width: 250px;
  width: 100%;
  height: auto;
}

.ending-asset {
  max-width: 330px;
  width: 85%;
  flex:1;

  height: auto;
}

#app {
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
}

.page {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.intro-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
}

.hidden {
  display: none;
}

.answer-title {
  font-family: "Bangers", sans-serif;
  font-size: 28px;
  color: #EDE6CF;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.answer-subtitle {
  font-family: "Bangers", sans-serif;
  font-size: 22px;
  color: #EDE6CF;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.center {
  align-self: center;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap:10px;
}

.infos {
  max-width: 500px;
  align-self: center;
  margin: auto;
}

.pic-btn {
  width: 25px;
  height: 25px;
}

.compass-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.primary-button {
  font-family: "Bangers", sans-serif;
  width: 178px;
  height: 67px;
  border-radius: 50px;
  background-color: #EDE6CF;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  font-size: 50px;
  margin-top: 20vh;
  border: none;
  color: #EDE6CF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary-button:hover {
  background-color: #cfc6a8;
  color: #cfc6a8;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  border-radius: 50px;
  background-color: #EDE6CF;
  background-color: #EDE6CF;
  border: none;
  font-size: 16px;
  line-height: 1.2;
  padding: 15px;
  margin: 5px 0;
  width: 350px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

h3 {
  font-family: "Bangers", sans-serif;
  color: #EDE6CF;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  font-size: 20px;
}

.margin-top {
  margin-top: 35px;
}

.retry {
  width: 100px;
  padding: 0;
  border-radius: 100px;
  height: 100px;
  font-size: 24px;
}

.next-qs {
  margin-top: 20px;
  padding: 0;
  font-size: 24px;
}

.image-container {
  display: flex;
  overflow: hidden;
}

.image {
  transition: transform 0.3s ease;
  opacity: 0;
  width: 0;
}

.image.active {
  opacity: 1;
  width: 100%;   
  max-width: 400px;
  height: auto;
}

@media (max-width: 600px) {
  #app {
    padding: 20px;
  }

  .option {
    width: 100%;
  }

  .intro-image {
    max-width: 100%;
  }
}